<section class="team-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h3 class="display-3">About Me</h3>
        <p class="lead">Who I am</p>
      </div>
    </div>
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/john-thomas.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h3 class="card-title display-3">Professionally</h3>
                    <div class="lead">
                      I'm a Java software engineer by day. I enjoy the different challenges each day brings. It's a humbling profession - you'll never know everything and never get it all right
                      all the time.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-briefcase-24"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Leader</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="fa fa-code"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Engineer</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-warning mr-3">
                              <i class="ni ni-chat-round"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Communicator</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!--<div class="footer text-left">-->
                    <!--  <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle"><i class="fab fa-twitter"></i></a>-->
                    <!--  <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle"><i class="fab fa-facebook-square"></i></a>-->
                    <!--  <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle"><i class="fab fa-dribbble"></i></a>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/birgit-loit.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Personally</h1>
                    <div class="lead">
                      I'm a husband and father to an amazing family. They're the reason I get up every morning, my life would be boring without them. I love music,
                      books, video games, woodworking, the cosmos, deep thinking, funny stuff, movies... so just about everything.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="fa fa-home"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Family-First</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-warning mr-3">
                              <i class="ni ni-headphones"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Music Lover</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-controller"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Gamer</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!--<div class="footer text-left">-->
                    <!--  <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle"><i class="fab fa-twitter"></i></a>-->
                    <!--  <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle"><i class="fab fa-facebook-square"></i></a>-->
                    <!--  <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle"><i class="fab fa-dribbble"></i></a>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
        </div>
    </div>
  </div>
</section>
