<!--The custom HTMl for the about page -->

<!--
--------------------------------------------------------------------------------
About the site
--------------------------------------------------------------------------------
-->
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <span class="badge badge-primary badge-pill mb-3">Insight</span>
      <h3 class="display-3">The Purpose of Dev Solitude</h3>
      <p class="lead">What this website is all about and why I created it</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
          <i class="ni ni-settings-gear-65"></i>
        </div>
        <h6 class="info-title text-uppercase text-primary">Explore</h6>
        <p class="description opacity-8">This is my place to explore my passion for web development. I love creating elements, layouts, designs, and rethinking the application of existing ones.</p>
        <!--<a href="javascript:;" class="text-primary">More about us-->
        <!--  <i class="ni ni-bold-right text-primary"></i>-->
        <!--</a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
          <i class="ni ni-atom"></i>
        </div>
        <h6 class="info-title text-uppercase text-success">Practice</h6>
        <p class="description opacity-8">Like everything else in life, you don't get good at something without effort. Here I can improve my craft and maybe solve others' problems along the way.</p>
        <!--<a href="javascript:;" class="text-primary">Learn about our products-->
        <!--  <i class="ni ni-bold-right text-primary"></i>-->
        <!--</a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
          <i class="ni ni-world"></i>
        </div>
        <h6 class="info-title text-uppercase text-warning">Share</h6>
        <p class="description opacity-8">I'm doing this because I enjoy it. But I think other people could benefit from it too. So I'll share things as I go. The blogs provide an informal narrative to
          implementing things, tools, and much more.</p>
        <!--<a href="javascript:;" class="text-primary">Check our documentation-->
        <!--  <i class="ni ni-bold-right text-primary"></i>-->
        <!--</a>-->
      </div>
    </div>
  </div>
</div>

<hr>

<!--
--------------------------------------------------------------------------------
About me
--------------------------------------------------------------------------------
-->
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <span class="badge badge-primary badge-pill mb-3">Insight</span>
      <h3 class="display-3">About Me</h3>
      <p class="lead">A little background on me personally and professionally.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
          <i class="ni ni-briefcase-24"></i>
        </div>
        <h6 class="info-title text-uppercase text-primary">Professional</h6>
        <p class="description opacity-8">By day I'm a Java software engineer known for my leadership, communication, and transparency. I get involved and am a team player.</p>
        <!--<a href="javascript:;" class="text-primary">More about us-->
        <!--  <i class="ni ni-bold-right text-primary"></i>-->
        <!--</a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
          <i class="ni ni-badge"></i>
        </div>
        <h6 class="info-title text-uppercase text-success">Personal</h6>
        <p class="description opacity-8">I'm a husband and father to an amazing family. We do everything together - play games, watch movies, shop, and just enjoy life.</p>
        <!--<a href="javascript:;" class="text-primary">Learn about our products-->
        <!--  <i class="ni ni-bold-right text-primary"></i>-->
        <!--</a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
          <i class="ni ni-book-bookmark"></i>
        </div>
        <h6 class="info-title text-uppercase text-warning">Hobbies</h6>
        <p class="description opacity-8">I get by with a little help from music. I also love to read, play video games, do some woodworking, and watch movies.</p>
        <!--<a href="javascript:;" class="text-primary">Check our documentation-->
        <!--  <i class="ni ni-bold-right text-primary"></i>-->
        <!--</a>-->
      </div>
    </div>
  </div>
</div>
